{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": true
          }
        }
      ]
    ],
    "ignore": [
      "node_modules"
    ],
    "plugins": [
      [
        "module-resolver",
        {
          "root": [
            "./"
          ],
          "alias": {
            "@src": "./src"
          }
        }
      ]
    ],
    "sourceMaps": "inline"
  }
