# Db settings
DB_SYNC
DB_PORT=5432
DB_WRITE_HOST=database
DB_READ_HOST=database
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=tgt

# App settings
NODE_ENV=development
WINDOW_AGE
PORT=8080
USER_BACKEND_URL=http://localhost:8004
USER_FRONTEND_URL=http://localhost:8005
ADMIN_BACKEND_URL=http://localhost:8002

# JWT Keys
VERIFICATION_TOKEN_SECRET=2h
VERIFICATION_TOKEN_EXPIRY=12345

# JWT Expiries
JWT_LOGIN_SECRET=1234
JWT_LOGIN_TOKEN_EXPIRY=2h
EMAIL_TOKEN_KEY=1234s
EMAIL_TOKEN_EXPIRY=4h

# Casino end settings
MICRO_SERVICE_ACCESS_TOKEN

# Socket
SOCKET_ENCRYPTION_KEY
SOCKET_MAX_PER_USER_CONNECTION

# Redis
REDIS_HOST=redis-database
REDIS_PORT=6379
REDIS_PASSWORD

# Mailjet
MAILJET_API_KEY
MAILJET_SECRET_KEY

BASIC_USERNAME=admin
BASIC_PASSWORD=admin

# S3 Credentials
AWS_SECRET_ACCESS_KEY
AWS_ACCESS_KEY
AWS_BUCKET
AWS_REGION=us-east-1

ALEA_CASINO_ID=
ALEA_ENVIRONMENT_ID=
ALEA_SECRET_KEY=
ALEA_SECRET_TOKEN=
ALEA_BASE_URL=

ALEA_CASINO_PP_SC_ID=
ALEA_PP_ENVIRONMENT_ID=
ALEA_PP_SECRET_KEY=
